*.[oa]
*.vs/
*.~
*.000
*.bak
*.bck
*.kicad_pcb-bak
*.sch-bak
*~
*.toc
*.lof
*.log
*.out
*.aux
*.gz
_autosave-*
*.tmp
*-save.pro
*-save.kicad_pcb
fp-info-cache
sym-lib-table
fp-lib-table
*.pdf
*.net
*.dsn
*.ses

*.csv
*.tsv
*.xml
*.bak
*-rescue*

**/output
